    body {
  color: rgb(28, 28, 30);
  background-color: #f6f9fc;
}



h1 {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #6772e5;
  text-decoration: none;
}

a:hover {
  color: #02203C;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container {
    top: 0%;
    width: 100%;
    padding: 30px;
  }
}

#nav-bar
{
  position: fixed;
}

.icon:hover {
  transform: scale(1.1);
}

#speaker {
  width: 25px;
  position: relative;
  top: 7px;
  cursor: pointer;
}

#image {
  margin: 10px 0;
  width: 200px;
}

#social-media-icons {
  margin: 0;
  padding: 0;
}

#social-media-icons  > li {
  display: inline-block;
  list-style: none;
  padding: 0 4px;
}

#social-media-icons > li > a > img {
  width: 30px;
}

#description {
  margin: 20px 0 0 0;
}





    * {
        font-family: "Open Sans", sans-serif;
    }

    

    .starfield {
        background-color: #262626;
    }

    .star0 {
        height: 1px;
        width: 1px;
        opacity: 1;
        position: absolute;
    }

    .star1 {
        height: 2px;
        width: 2px;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
    }

    .star2 {
        height: 3px;
        width: 3px;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
    }

    .star3 {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
    }

    .star4 {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
    }