{% extends "base.html" %}
{% block css %}
<style>
    
    h1 {
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        
        font-size: 30px !important;
        font-weight: 400;
        margin: 0;
    }
    h3 {
        
        font-size: 21px !important;
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px !important;
    }

    

    a:hover {
        color: #20023c;
    }

    * {
  box-sizing: border-box;
}
#main-container h1{
    font-size: 52px !important ;
}

body .Cardscontainer{
    top: 10%;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Cardscontainer{
    position: relative;
    margin-right: -200px;
    height: 100vh;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.Cardscontainer .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgb(233, 233, 233);
    text-align: center;
    

    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.445);
    transition: 0.3s ease-in-out;
}


.Cardscontainer .card .TitleBx {
    position: relative;
    width: 250px;
    height: 160px;
    top: -10px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 39, 146, 0.486);
}



.Cardscontainer .card .content {
    position: relative;
    top: 10%;
    left: -10%;
    
    padding: 10px 15px;
    text-align: left;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Cardscontainer .card:hover{
    height: 435px;
}

.Cardscontainer .card:hover .content{
    
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
    transition-delay: 0.3s;
}

</style>
{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<div id="main-container"><h1>About</h1></div>
<div class="Cardscontainer">
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>SKILLS</h2>
        </div>
        <div class="content">
            <ul>
                <br>
                <li> Data Structure & Algorithms (Java, Python)</li>
                <li>Flask (Framework Python)</li>
                <li>Django (Framework Python)</li>
                <li>Game Development (Unity3D and C# or Pygame)</li>
                <li>App Development (Kivy Python)</li>
                <li>Machine Learning(Python)</li>
                <li>Other Skils; Linux, Git, Computer Networks, MySQL</li>
                <br>

            </ul>
        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>ORGANIZATIONS</h2>
        </div>
        <div class="content">
            <ul>
            <li>
            <h3>Developer Student Club TIET</h3>
            <p>Member of the student club which is a university
            based community group for students interested in
            Google developer technologies which helps the
            students build their mobile and web development skills
            and knowledge.</p>
            </li>
            </ul>
        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>CERTIFICATES</h2>
        </div>
        <div class="content">
            <ul>
                <li>
                    <h3> Google Hashcode 2021</h3>
                    <p>4605th rank
                        <a href="https://codingcompetitions.withgoogle.com/hashcode/certificate/summary/0000000000435809" target="_blank">Click Here</a>
                    </p>
                </li>
                <li>
                    <h3> Google KickStart 2020</h3>
                    <p>
                        <a href="https://codingcompetitions.withgoogle.com/kickstart/certificate/summary/000000000019ffc6" target="_blank">Click Here</a>
                    </p>
                </li>
                <li>
                    <h3> Python</h3>
                    <p>(hackerrank)(07/2020-Present)
                        <a href="https://www.hackerrank.com/certificates/cf308fe44fbd" target="_blank">Click Here</a></p>
                </li>
                <li>
                    <h3>Probem Solving</h3>
                    <p>(hackerrank)(07/2020-Present)
                        <a href="https://www.hackerrank.com/certificates/985102475cc5" target="_blank">Click Here</a></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>INTERESTS</h2>
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <br>

            <ul>
                <li><p>Competitive Coding</p></li>
                <li><p>Video Editing</p></li>
                <li><p>Photo Editing</p></li>
                <li><p>Public Speaking</p></li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>LANGUAGES</h2>
        </div>
        <div class="content">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <ul>
                <li>
                    <h3>English</h3>
                    <p>Full Professional Proficiency</p>
                </li>
                
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="card fade-in">
        <div class="TitleBx">
            <h2>CONTACTS</h2>
        </div>
        <div class="content">
           
            <br>
            <ul>
                <li>
                    <h2>Emails</h2>
                    <p>Primary:</p> rishikrofficial@gmail.com
                    <br>
                    <br><br>
                    <p>Secondary:</p> rishikr1013@gmail.com
                    <br>
                    <br>
                    <br>
                    <p>Institution:</p> rkumar4_be19@thapar.edu
                </li>
                <br>
                <br>
                <br>
            
            </ul>
        </div>
    </div>
</div>
{% endblock %}