{% extends "base.html" %}
{% block css %}
<style>
    
    h1 {
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    a {
        color: #9a02f1;
        text-decoration: none;
    }

    a:hover {
        color: #20023c;
    }
</style>
{% endblock %}
{% block title %}About{% endblock %}
{% block content %}

{% endblock %}