{% extends "base.html" %}


{% block css %} 
<style>
    
</style>
{% endblock %}


{% block title %}Home{% endblock %}


{% block content %}


<div id="main-container">
    <h1>Hello | Bonjour</h1>
    <h2>
        My name is Rishi Kumar.
    </h2>
    <img id="image" src="{{ url_for('static', filename='Rishi_img.jpeg') }}"" />
    <ul id="social-media-icons">
        <li>
            <a href="https://instagram.com/its.rishii_?igshid=bapedcym0e1m" target="_blank"><img class="icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/1384/1384015.svg?token=exp=1618163878~hmac=34192bf4b3263eb23880630196a49102" /></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/rishi-kumar-7468731a1" target="_blank"><img class="icon"
                    src="https://www.flaticon.com/premium-icon/icons/svg/3128/3128219.svg" /></a>
        </li>
        <li>
            <a href="https://twitter.com/itsrishii_?s=09" target="_blank"><img class="icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/733/733635.svg?token=exp=1618171736~hmac=07695178a87631b07164d6b3edc82c1b" /></a>
        </li>
        <li>
            <a href="https://github.com/RishiKr3101" target="_blank"><img class="icon"
                    src="https://www.flaticon.com/svg/vstatic/svg/2111/2111425.svg?token=exp=1618164013~hmac=d3648caf1d14c90eb4dbdeeceb9a147b" /></a>
        </li>
    </ul>
    <div id="description">
        <p>
            I'm a <span id="age"></span>-year-old, Student at <a href="www.thapar.edu">Thapar University</a>, Patiala
        </p>
        <p>A Tech Enthusiast and a Sofware Developer with nerdish tendencies.</p>
        <p>
            You can checkout my works in the <a href="/projects">project</a> section or my <a href="https://github.com/RishiKr3101">github</a> profile.
        </p>
    </div>
</div>



<script>
    window.onload = () => {
        const birthYear = 2001;
        const currentYear = new Date().getFullYear();
        const age =
            new Date() > new Date(`01/31/${currentYear}`)
                ? currentYear - birthYear
                : currentYear - birthYear - 1;
        document.getElementById("age").innerText = `${age}`;
    };
</script>
{% endblock %}