{% extends "base.html" %}

{% block css %}
<style>
  
h1 {
        font-size: 40px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin: 0;
    }

    h2 {
        
        font-size: 30px !important;
        font-weight: 400;
        margin: 0;
    }
    h3 {
        
        font-size: 21px !important;
        font-weight: 400;
        margin: 0;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px !important;
    }

    

    a:hover {
        color: #20023c;
    }

    * {
  box-sizing: border-box;
}
#main-container_2 h1{
    font-size: 52px !important ;
}

#my-div {
    position: relative;
    background-color: rgb(227, 227, 245);
    width: 500px;
    height: 520px;
}

.fade-in{
  opacity:0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}



.icon:hover {
  box-shadow: 0 0 31px rgba(0, 81, 255, 0.479); 
}



#main-container_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 10% !important;
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container_2 {
    top: 0%;
    width: 100%;
    padding: 30px;
  }
}



#main-container_2 img{
  
  opacity: 0.3;
}

#particles-js
{
  position: fixed;
}

#universe
{
  position: fixed;
}
#description_2 {
  margin: 10px 0 0 0;
}

body .Cardscontainer{
  top: 10%;
  left: 20%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Cardscontainer{
    position: relative;
    margin-right: -200px;
    height: 100vh;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.Cardscontainer .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: rgb(233, 233, 233);
    text-align: center;
    

    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.445);
    transition: 0.3s ease-in-out;
}


.Cardscontainer .card .TitleBx {
    position: relative;
    width: 250px;
    height: 160px;
    top: -10px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 39, 146, 0.486);
}



.Cardscontainer .card .content {
    position: relative;
    top: 10%;
    left: -10%;
    
    padding: 10px 15px;
    text-align: left;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.Cardscontainer .card:hover{
    height: 435px;
}

.Cardscontainer .card:hover .content{
    
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
    transition-delay: 0.1s;
}
</style>
{% endblock %}

{% block title %}Projects{% endblock %}
{% block content %}
<div id="main-container_2">

    <h1>Projects </h1>
    <br>
    <br>

    <img src="static/assets/github.png" alt="">
    
</div>
<br>
<br>

<div class="Cardscontainer">
  <div class="card fade-in">
    <div class="TitleBx">
      <h2>Chat App</h2>
    </div>
    <div class="content">
      
        
        A GUI using Python (tkinter, sockets) helps users on the same network to Chat
        <br>
        <br>
        Used Tkinter to build a  GUI for a smooth experience  shows the clients name on top and shows message
        along as well. Used Sockets for building the server, sending and recieving messages
        which tells the client who joined the server, who sent a message, who got disconnected and number of active users
        Check out the project : <a href="https://github.com/RishiKr3101/ChatApp" target="_blank">HERE</a>
        

      <br>
      <br>

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <h2>Snake Game</h2>
    </div>
    <div class="content">
      <br>
      <br>
      <br>
      

      A Basic 2D game using Python (pygame) vintage style
      <br>
      <br>
      Used Pygame to make Game interface and used Data Structure and Algo for developing it.Contains Bonus and Instruction
      screen along with the scoreboard. Try beating The Highscore.
      Check out the project : <a href="https://github.com/RishiKr3101/Snake_Game" target="_blank">HERE</a>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <h2>Shooting-Balls</h2>
    </div>
    <div class="content">
      <br>

      A detailed 2D Game made with Unity3D and C# for Android.
      
      <br>

      Used Unity to build the scenes and C# to write the scripts for the game it comes with basic details like sfter every
      target hit theirs a Screen Shake animation made using C# script along with Unity Particle System which makes it even
      better. It contains different scenes, Levels and also a scoreboard to keep track of how you perform.
      
      Check out the project : <a href="https://github.com/RishiKr3101/Shooting-Balls" target="_blank">HERE</a>
      <br>
      <br>
      

    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <h2>Algo Visualiser</h2>
    </div>
    <div class="content">
      <br>
      

      

      A Basic GUI using Python (turtle/ tkinter) to visualise any algorithm for better understanding.
      
      Used Turtle for the main Window which displays the algorithm at work and used Tkinter for user to enter their custom
      input. By using various algorithm made it possible to visualise it so that the user can understand it better
      
      Didn't upload the Code yet but can be seen on linkedin <a href="https://www.linkedin.com/in/rishi-kumar-7468731a1" target="_blank">HERE</a>
      
      <br>
      <br>
      <br>
      <br>
      <br>


    </div>
  </div>
  <div class="card fade-in">
    <div class="TitleBx">
      <h2>Minor Projects</h2>
    </div>
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <br>
      You can check my other Minor Projects on my Github Profile or LinkedIn profile.
      <br>
      Thankyou
      <br>
      Check out other projects : <a href="https://github.com/RishiKr3101" target="_blank">HERE</a>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
{% endblock %}