{% extends "base.html" %}

{% block css %}
<style>
  
h1 
{
  font-size: 60px !important;
  font-family: 'Ubuntu', sans-serif !important;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 50px !important;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #9a02f1 ;
  text-decoration: none;
}

a:hover {
  color: #20023c;
}

p {
        
  font-size: 20px;
  margin-bottom: 20px;
}

#my-div {
    position: relative;
    background-color: rgb(249, 249, 250);
    width: 500px;
    height: 500px;
}






#main-container_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 10% !important;
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container_2 {
    top: 0%;
    width: 100%;
    padding: 30px;
  }
}


#universe
{
  position: fixed;
}
#description_2 {
  margin: 10px 0 0 0;
}
</style>
{% endblock %}

{% block title %}Projects{% endblock %}
{% block content %}
<div id="main-container_2">

    <h1>Projects &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul>
        <li id="my-div">
            <h2>Chat App (GUI)</h2>
            <br>
            <br>
            <br>
            
            <div id="description_2">
                <p>A Basic GUI using Python (tkinter, sockets) which helps users on the same network to have a conversation through text</p>
                <p>Used Tkinter to build a decent looking GUI for a smooth experience which shows the clients name on top and shows message along with the name. Used Sockets for building the server, and sending and recieving signalsbetween clients and server which tells the client who joined the server, who sent a message, who got disconnected and number of active users</p>
                <p>Check out the project : <a href="https://github.com/RishiKr3101/ChatApp" target="_blank">HERE</a></p>
            </div>
        </li>
        <br>
        <br>
        <br>
        <br>
        <br>

        <li id="my-div">
            <h2>Snake Game</h2>
            <br>
            <br>
            <br>
            <div id="description_2">
                <p>A Basic 2D game using Python (pygame) vintage style</p>
                <p>Used Pygame to make Game interface and used Data Structure and Algo for developing it.Contains Bonus and Instruction screen along with the scoreboard. Try beating The Highscore. </p>
                <p>Check out the project : <a href="https://github.com/RishiKr3101/Snake_Game" target="_blank">HERE</a></p>
            </div>
        </li>
        <br>
        <br>
        <br>
        <br>
        <br>

        <li id="my-div">
            <h2>Shooting Balls</h2>
            <br>
            <br>
            <br>
            <div id="description_2">
                <p>A detailed 2D Game made with Unity3D and C# for Android.</C></p>
                <p>Used Unity to build the scenes and C# to write the scripts for the game it comes with basic details like sfter every target hit theirs a Screen Shake animation made using C# script along with Unity Particle System which makes it even better. It contains different scenes, Levels and also a scoreboard to keep track of how you perform.</p>
                <p>Check out the project : <a href="https://github.com/RishiKr3101/Shooting-Balls" target="_blank">HERE</a></p>
            </div>
        </li>
        <br>
        <br>
        <br>
        <br>
        <br>

        <li id="my-div">
            <h2>Algo Visualiser</h2>
            <br>
            <br>
            <br>
            <div id="description_2">
                <p>A Basic GUI using Python (turtle/ tkinter) to visualise any algorithm for better understanding.</p>
                <p>Used Turtle for the main Window which displays the algorithm at work and used Tkinter for user to enter their custom input. By using various algorithm made it possible to visualise it so that the user can understand it better</p>
                <p>Didn't upload the Code yet but can be seen on linkedin<a href="https://www.linkedin.com/in/rishi-kumar-7468731a1" target="_blank">HERE</a></p>
            </div>
        </li>
        <br>
        <br>
        <br>
        <br>
        <br>

        <li id="my-div">
            <h2>Other Minor Projects</h2>
            <br>
            <br>
            <br>
            <div id="description_2">
                <p>You can check my other Minor Projects on my Github Profile or LinkedIn profile.</p>
                <p>Thankyou</p>
                <p>Check out other projects : <a href="https://github.com/RishiKr3101" target="_blank">HERE</a></p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}